/* _____ Import files _____ */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* _____ style all rules _____ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  color: #787878;
  font-size: 13px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #000;
}
a:hover:not(.btn) {
  color: #c3a376;
}

span,
a {
  display: inline-block;
}

img {
  vertical-align: middle;
}

.main-input {
  padding-left: 10px;
  padding-right: 50px;
  color: #555;
  height: 38px;
  width: 100%;
  outline: none;
  font-size: 12px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #ddd;
}

h1,
h2,
h3,
h4 {
  font-size: 28px;
  font-weight: 400;
}

.main-style {
  font-size: 14px;
  font-weight: 400;
}

.main-head {
  font-size: 26px;
  color: #000;
}

.related {
  font-size: 18px;
  color: #141414;
  font-weight: 600;
}

p {
  line-height: 26px;
}

.section {
  padding: 70px 0;
}
@media screen and (max-width: 576px) {
  .section {
    padding: 50px 0;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.img-fluid {
  max-width: 100%;
  vertical-align: middle;
}

.amount {
  font-weight: 700;
  float: right;
  font-size: 15px;
}

.float-end {
  float: none;
}
@media screen and (max-width: 992px) {
  .float-end {
    float: right;
  }
}

.shop-items {
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
  user-select: none;
}
.shop-items img {
  max-width: 100%;
}
.shop-items .img-hover {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 0.4s opacity;
  -moz-transition: 0.4s opacity;
  -o-transition: 0.4s opacity;
  transition: 0.4s opacity;
}
.shop-items:hover .img-hover {
  opacity: 1;
}
.shop-items .shop-details {
  position: relative;
}
.shop-items .shop-details h3 {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}
.shop-items .shop-details .kw-actions {
  position: absolute;
  bottom: 55%;
  right: -55%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .shop-items .shop-details .kw-actions {
    bottom: 75%;
    right: 0;
    opacity: 1;
  }
}
.shop-items .shop-details .kw-actions .link-actions {
  text-transform: uppercase;
  background-color: #c3a376;
  font-weight: 600;
  font-size: 10px;
  display: block;
  margin-bottom: 3px;
  padding: 6px 10px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #fff;
}
.shop-items .shop-details .kw-actions .link-actions.style-1 {
  padding: 6px;
  width: 72px;
  float: right;
}
.shop-items .shop-details .kw-actions .link-actions:hover {
  background-color: #333;
}
.shop-items:hover .kw-actions {
  right: 0;
  opacity: 1;
}
.shop-items:hover .shop-details h3 {
  color: #9c825e;
}
.shop-items .reviews .fa-star {
  color: #d3ced2;
  font-size: 10px;
}

input[type=number] {
  height: 52px;
  font-size: 12px;
  border: 1px solid #eaeaea;
  outline: none;
  padding: 2px;
  width: 65px;
  text-align: center;
  color: inherit;
  margin-right: 5px;
}

.btn {
  padding: 13px 23px;
  text-align: center;
}

.btn-primary {
  background-color: #c3a376;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #9c825e;
}

.btn-light {
  padding: 11px;
  margin-left: 8px;
  color: #242424;
  border: 2px solid #242424;
}

/* _____ style header-nav _____ */
.header-nav {
  padding: 39px 0;
  position: relative;
  z-index: 999;
}
@media screen and (max-width: 991px) {
  .header-nav main {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
  }
  .header-nav main.active {
    opacity: 1;
    visibility: visible;
  }
  .header-nav main.active .menu {
    padding-top: 54px;
  }
}
@media screen and (max-width: 991px) {
  .header-nav main .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    transition: 0.4s padding-top;
  }
}
.header-nav main .menu li {
  margin: 0 10px;
}
.header-nav main .menu li:last-of-type {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 991px) {
  .header-nav main .menu li {
    margin-bottom: 10px;
  }
}
.header-nav main .menu li a {
  display: block;
  color: #252525;
  text-transform: capitalize;
  padding: 10px;
  font-weight: 400;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .header-nav main .menu li a {
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    color: hsla(0, 0%, 100%, 0.85);
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    padding: 10px 0;
  }
  .header-nav main .menu li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.15);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }
  .header-nav main .menu li a:hover::before, .header-nav main .menu li a.active::before {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  .header-nav main .menu li a:hover {
    color: hsla(0, 0%, 100%, 0.85) !important;
  }
  .header-nav main .menu li a.active {
    color: #fff !important;
  }
}
.header-nav main .menu li a.active, .header-nav main .menu li a:hover {
  color: #848484;
}
.header-nav .trigger-bar {
  display: none;
  cursor: pointer;
}
.header-nav .trigger-bar span {
  width: 20px;
  height: 1px;
  display: block;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.header-nav .trigger-bar.active span:first-child {
  -webkit-transform: translateY(5px) rotate(45deg);
  -moz-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
.header-nav .trigger-bar.active span:nth-child(2) {
  opacity: 0;
}
.header-nav .trigger-bar.active span:last-child {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -moz-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .header-nav .trigger-bar {
    display: block;
  }
}
.header-nav .close-nav {
  top: 20px;
  width: 50px;
  right: 25px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  text-align: center;
  border: 1px solid hsla(0, 0%, 100%, 0.656);
  line-height: 54px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  color: #fff;
}
.header-nav .close-nav .lnr-cross {
  font-size: 17px;
}
.header-nav .close-nav:hover {
  border-color: #fff;
}
@media screen and (max-width: 383px) {
  .header-nav .sm-column {
    flex-direction: column !important;
  }
}
.header-nav .search-parent {
  color: #000;
}
.header-nav .search-parent > i {
  cursor: pointer;
  padding: 8px 11px;
}
@media screen and (max-width: 383px) {
  .header-nav .search-parent > i {
    margin-left: 38px;
  }
}
@media screen and (max-width: 290px) {
  .header-nav .search-parent > i {
    margin-left: 0;
  }
}
@media screen and (min-width: 992px) {
  .header-nav .search-parent > i {
    display: none;
  }
}
.header-nav .search-parent .fa-xmark {
  background: #f4f4f4;
  text-align: center;
  color: #000;
  font-weight: bold;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.header-nav .search-parent .fa-xmark:hover {
  background-color: #f1f1f1;
}
.header-nav .search {
  position: relative;
  width: 240px;
}
@media screen and (max-width: 290px) {
  .header-nav .search {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 991px) {
  .header-nav .search {
    right: 0;
    left: 0;
    width: calc(100% - 30px);
    margin: auto;
    padding: 30px;
    position: absolute;
    background: #f4f4f4;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header-nav .search.active {
    display: block;
  }
}
@media screen and (max-width: 333px) {
  .header-nav .search {
    z-index: 1;
  }
}
.header-nav .search input {
  padding-left: 34px;
  padding-right: 50px;
}
@media screen and (max-width: 991px) {
  .header-nav .search input {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
  }
}
.header-nav .search input:focus {
  border-bottom: 3px solid #ddd;
}
@media screen and (max-width: 991px) {
  .header-nav .search input:focus {
    border-bottom: 1px solid #ccc;
  }
}
.header-nav .search > .fa-magnifying-glass {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ddd;
  font-size: 10px;
}
@media screen and (max-width: 991px) {
  .header-nav .search > .fa-magnifying-glass {
    left: -webkit-calc(100% - 50px);
    left: -moz-calc(100% - 50px);
    left: calc(100% - 50px);
  }
}

.shopping {
  margin-left: 50px;
  margin-top: 5px;
  position: relative;
}
@media screen and (max-width: 290px) {
  .shopping {
    margin-left: 0 !important;
  }
}
.shopping > span {
  cursor: pointer;
}
.shopping > span::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #c3a376;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 8px;
}
.shopping > span::before {
  content: attr(data-count);
  text-align: center;
  color: #fff;
}
.shopping .topnav-drop {
  width: 320px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin-top: 5px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 22px 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.shopping .topnav-drop::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent #b70303 transparent;
}
.shopping .topnav-drop .woocommerce {
  height: 152px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.shopping .topnav-drop .woocommerce li {
  margin-bottom: 14px;
}
.shopping .topnav-drop .woocommerce span.close {
  cursor: pointer;
  color: #c3c3c3;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: 15px;
}
.shopping .topnav-drop .woocommerce span.close:hover {
  color: #7f7f7f;
}
.shopping .topnav-drop .woocommerce img {
  width: 62px;
  height: 62px;
  margin-right: 15px;
}
.shopping .topnav-drop .woocommerce div {
  font-size: 11px;
}
.shopping .topnav-drop .woocommerce div a {
  color: #000;
  text-transform: capitalize;
  margin: 4px 0 15px;
  font-weight: 400;
}
.shopping .topnav-drop .woocommerce div a:hover {
  color: #c3a376;
}
.shopping .topnav-drop .woocommerce div .woocommerce-quantity {
  color: #535353;
}
.shopping .topnav-drop .woocommerce::-webkit-scrollbar {
  width: 1px;
}
.shopping .topnav-drop .woocommerce::-webkit-scrollbar-thumb {
  background: #c3a376;
  border-radius: 100px;
}
.shopping .topnav-drop .woocommerce-total {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
  font-size: 11px;
}
.shopping .topnav-drop.active {
  opacity: 1;
  visibility: visible;
}
.shopping .woocommerce-buttons a {
  width: calc(50% - 6px);
  padding: 13px;
  font-size: 13px;
}
.shopping .woocommerce-buttons a.btn-light {
  padding: 11px;
}

@media screen and (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}
.slider-parent .container {
  position: relative;
}
@media screen and (min-width: 992px) {
  .slider-parent .container {
    max-width: 100%;
  }
}
.slider-parent .container .slider-items {
  margin: auto;
  position: relative;
  display: none;
  visibility: hidden;
  text-align: center;
}
.slider-parent .container .slider-items.fade {
  display: block;
  visibility: visible;
  animation: fade 1s ease-in-out both;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider-parent .container .slider-items img {
  object-fit: cover;
  max-width: 100%;
}
.slider-parent .container .slider-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-parent .container .slider-caption.left {
  left: 14%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .slider-parent .container .slider-caption.left {
    text-align: center;
    width: 100%;
    left: 0;
  }
}
.slider-parent .container .slider-caption.right {
  right: 14%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .slider-parent .container .slider-caption.right {
    text-align: center;
    width: 100%;
    right: 0;
  }
}
.slider-parent .container .slider-caption .headline {
  color: #0a0a0a;
}
@media screen and (max-width: 576px) {
  .slider-parent .container .slider-caption .headline {
    font-size: 20px;
  }
}
.slider-parent .container .slider-caption .headprice {
  color: #8c8c8c;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .slider-parent .container .slider-caption .headprice {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .slider-parent .container .slider-caption .headprice {
    font-size: 14px;
  }
}
.slider-parent .container .slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 400px) {
  .slider-parent .container .slider-arrow {
    position: absolute;
    top: 90%;
  }
}
.slider-parent .container .slider-arrow svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.slider-parent .container .slider-arrow svg polyline {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.slider-parent .container .slider-arrow svg:hover polyline {
  stroke-width: 40px;
}
.slider-parent .container .slider-prev {
  left: 50px;
}
@media screen and (max-width: 400px) {
  .slider-parent .container .slider-prev {
    left: 40%;
  }
}
.slider-parent .container .slider-next {
  right: 50px;
}
@media screen and (max-width: 400px) {
  .slider-parent .container .slider-next {
    right: 40%;
  }
}

/* _____ style latest _____ */
.latest a.link-details {
  color: #141414;
}

.latest-inner:hover a {
  color: #c3a376;
}

.slick-initialized .slick-slide {
  margin: 0 28px;
}

.slick-arrow {
  width: 50px;
  cursor: pointer;
}
.slick-arrow polyline {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.slick-arrow:hover polyline {
  stroke-width: 40px;
}

.slick__prev,
.slick__next {
  position: absolute;
  top: 50%;
  color: #787878;
  transform: translateY(-50%);
}

.slick__prev {
  left: -40px;
}

.slick__next {
  right: -40px;
}

.loader {
  width: 0;
  height: 0;
  display: inline-block;
  position: relative;
  display: none;
}

.loader::after, .loader::before {
  content: "";
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 20px;
  top: -10px;
  animation: animloader 2s linear infinite both;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
/* _____ style footer _____ */
.fa-angle-up {
  cursor: pointer;
  color: #bababa;
  padding: 22px 40px;
  -webkit-transition: 0.2s ease-out color;
  -moz-transition: 0.2s ease-out color;
  -o-transition: 0.2s ease-out color;
  transition: 0.2s ease-out color;
}
.fa-angle-up:hover {
  color: #000;
}

footer .form-footer {
  position: relative;
}
footer .form-footer input {
  padding-right: 100px;
}
footer .form-footer button {
  background-color: transparent;
  color: #000;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  right: 0;
  padding: 12px 16px;
  cursor: pointer;
}
footer ul.social {
  margin-top: 20px;
}
footer ul.social li {
  margin-right: 5px;
}
footer ul.social li a {
  padding: 10px;
  color: #bcbcbc;
}
footer p a {
  color: #000;
}
footer p a:hover {
  color: #9c825e;
}

.bg-dark {
  background-color: #000;
}

.bg-warning {
  background-color: rgb(91, 39, 39);
}

/* _____ style shop _____ */
.shop select.orderby {
  height: 34px;
  outline: none;
  font-size: 11px;
  color: #909090;
  font-weight: 500;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 30px;
  font-family: inherit;
  background-size: 6px 12px;
  border: 1px solid #d9d9d9;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-image: url(../images/select-arrow.svg);
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 400px) {
  .shop .column {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .shop .column:last-child {
    margin-bottom: 0;
  }
}

/* _____ style details _____ */
.details ul.list-images {
  margin-right: 20px;
}
.details ul.list-images li {
  margin-bottom: 20px;
  width: 25%;
}
@media screen and (max-width: 768px) {
  .details ul.list-images li {
    margin-right: 20px;
  }
}
.details ul.list-images li img {
  width: 100px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.details ul.list-images li img.active, .details ul.list-images li img:hover {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .details ul.list-images li img {
    width: 50px;
  }
}
@media screen and (max-width: 768px) {
  .details ul.list-images li img {
    width: 100%;
    margin-top: 20px;
  }
}
.details ul.list-images li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .details img {
    vertical-align: middle;
  }
}
.details .details-items h2 {
  color: #000;
  font-size: 36px;
}
.details .details-items h3 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}
.details form {
  margin-top: 20px;
}
.details form button {
  height: 51px;
  width: calc(100% - 80px);
  font-family: inherit;
}
.details .details-footer {
  margin-top: 30px;
  font-size: 12px;
}
.details .details-footer a {
  color: #000;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.details .details-footer a:hover {
  color: #9c825e;
}
.details .fa-magnifying-glass {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 11px;
  color: #c2c2c2;
  text-align: center;
  width: 30px;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.details .fa-magnifying-glass:hover {
  color: #000;
}
.details .overlay-slider {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 6666;
  display: none;
}
.details .overlay-slider.active {
  display: block;
}
.details .overlay-slider .top-bar {
  height: 44px;
  font-size: 13px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: 0.75;
  width: 100%;
  z-index: 9999;
  position: relative;
}
.details .overlay-slider span {
  line-height: 44px;
}
.details .overlay-slider ul li {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.75;
}
.details .overlay-slider ul li:hover {
  opacity: 1;
}
.details .overlay-slider ul .zoom {
  background: url("../images/default-skin.png") -89px 0;
}
.details .overlay-slider ul .full-screen {
  background: url("../images/default-skin.png");
}
.details .overlay-slider ul .close {
  background: url("../images/default-skin.png") 0 -43px;
}
.details .overlay-slider .image-center {
  max-width: 545px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: zoom-in;
}
.details .overlay-slider .image-center img {
  display: none;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.details .overlay-slider .image-center img.zoom {
  transform: scale(1.8);
  cursor: zoom-out;
}
.details .overlay-slider .image-center img.active {
  display: block;
}
.details .overlay-slider .bottom {
  position: absolute;
  bottom: 0;
  background: #111;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.3);
}
.details .overlay-slider .bottom p {
  line-height: 44px;
}
.details .overlay-slider .prev,
.details .overlay-slider .next {
  width: 32px;
  height: 32px;
  opacity: 0.75;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.details .overlay-slider .prev:hover,
.details .overlay-slider .next:hover {
  opacity: 1;
}
.details .overlay-slider .prev {
  background: url(../images/default-skin.png) 124px -43px;
  left: 10px;
}
.details .overlay-slider .next {
  background: url(../images/default-skin.png) -96px 46px;
  right: 10px;
}
.details .list-footer {
  margin-top: 80px;
}
@media screen and (max-width: 400px) {
  .details .list-footer {
    flex-direction: column;
  }
}
.details .list-footer li a {
  font-weight: 700;
  color: #000;
  opacity: 0.5;
  font-size: 14px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 15px 20px;
}
.details .list-footer li a.active, .details .list-footer li a:hover {
  opacity: 1;
}
.details table {
  text-align: left;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
.details table th {
  width: 150px;
  padding: 8px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.details table td {
  font-style: italic;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  padding-left: 60px;
  width: 100%;
}
.details .tab {
  display: none;
  animation: fadeIn 0.1s ease-in-out;
}
.details .tab.active {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* _____ style carts _____ */
.cart table {
  width: 100%;
  border-collapse: collapse;
}
.cart table tr {
  position: relative;
}
.cart table tr::before, .cart table tr::after {
  content: "";
  display: table-cell;
  width: 50px;
}
@media screen and (max-width: 992px) {
  .cart table tr::before, .cart table tr::after {
    width: 0;
  }
}
.cart table thead {
  background-color: #fafafa;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  padding-top: 30px;
  height: 90px;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .cart table thead {
    display: none;
  }
}
.cart table tbody:first-of-type td {
  border-top: 0;
}
@media screen and (max-width: 992px) {
  .cart table tbody {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .cart table tbody:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.025);
  }
}
.cart table tbody td {
  padding: 29px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 992px) {
  .cart table tbody td {
    display: block !important;
    width: 100%;
    text-align: left;
  }
  .cart table tbody td::before {
    content: attr(data-title) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
  .cart table tbody td:last-of-type {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .cart table tbody td.table-products {
    margin-top: 60px;
  }
}
.cart table tbody td.table-products span {
  width: 28px;
  height: 28px;
  background: #f99;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cart table tbody td.table-products span:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .cart table tbody td.table-products span {
    position: absolute;
    right: 30px;
    top: 20px;
  }
}
.cart table tbody td.table-products .product-thumbnails {
  width: 72px;
}
.cart table tbody td.table-products .product-thumbnails img {
  width: 100%;
  border: 3px solid #edefed;
}
@media screen and (max-width: 992px) {
  .cart table tbody td.table-products .product-thumbnails img {
    display: none;
  }
}
.cart table tbody td.table-products a {
  color: #000;
  font-weight: bold;
}
.cart table tbody td.table-products a:hover {
  color: #9c825e;
}
@media screen and (max-width: 992px) {
  .cart table tbody td.table-products a {
    margin-top: -15px;
  }
}
.cart table tbody input[type=number] {
  width: 100px;
}
@media screen and (max-width: 992px) {
  .cart table tbody input[type=number] {
    margin-right: 0;
    margin-top: -18px;
  }
}
.cart table tbody .amount {
  float: none;
}
@media screen and (max-width: 992px) {
  .cart table tbody .amount {
    float: right;
  }
}

/* _____ style about _____ */
.about .main-style {
  font-size: 15px;
}
.about .about-image01 {
  background: url("../images/post_01.jpg") center top/cover no-repeat;
  min-height: 600px;
}
@media screen and (max-width: 768px) {
  .about .about-image01 {
    min-height: 420px;
  }
}
.about .about-image02 {
  background: url("../images/post_02.jpg") center center/cover no-repeat;
  min-height: 500px;
}
.about .about-image03 {
  background: url("../images/post_03.jpg") center center/cover no-repeat;
  min-height: 360px;
}
.about .about-details {
  padding: 0 50px;
}
@media screen and (max-width: 992px) {
  .about .about-details {
    padding: 0;
    margin-top: 40px;
  }
}
.about.bg-gray {
  background-color: #f4f4f4;
}
.about.bg-gray h3 {
  font-size: 20px;
}

/* _____ style blog _____ */
.blog .blog-inner .overlay-img {
  position: relative;
}
.blog .blog-inner .overlay-img::before {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.blog .blog-inner .overlay-img .overlay-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog .blog-inner .overlay-img .overlay-inner a {
  width: 48px;
  height: 48px;
  line-height: 44px;
  border-radius: 100px;
  border: 2px solid #fff;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
}
.blog .blog-inner .overlay-img .overlay-inner a:hover {
  width: 120px;
  background-color: #c3a376;
  border: 2px solid #c3a376;
}
.blog .blog-inner .overlay-img .overlay-inner a::before {
  content: "+";
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.blog .blog-inner .overlay-img .overlay-inner a::after {
  content: attr(data-to);
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.blog .blog-inner .overlay-img .overlay-inner a:hover::before {
  opacity: 0;
}
.blog .blog-inner .overlay-img .overlay-inner a:hover::after {
  opacity: 1;
}
.blog .blog-inner:hover .overlay-img::before {
  opacity: 1;
  visibility: visible;
}
.blog .blog-inner:hover .overlay-inner a {
  opacity: 1;
}
.blog .blog-inner .blog-caption {
  padding: 15px 0;
}
.blog .blog-inner .blog-caption h3 {
  font-size: 20px;
}
.blog .blog-inner .blog-caption span:first-of-type {
  color: #9a9a9a;
  font-size: 12px;
}
.blog .blog-inner .blog-caption span:last-of-type {
  color: #aaa;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .more .container {
    padding: 0;
  }
}
.more .blogMore-img::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.more .blogMore-img:hover::before {
  opacity: 0;
}
.more .blogMore-details {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.more .blogMore-details img {
  border-radius: 50%;
}
.more .blogMore-details ul li {
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.7);
}
.more .blogMore-details ul li a {
  color: #fff;
}
.more .blogMore-details ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.more .blogMore-details ul li:last-of-type {
  font-size: 10px;
  margin-bottom: 0;
}
.more .blogMore-caption {
  padding: 40px;
}
.more .blogMore-caption .main-head {
  margin-bottom: 30px;
  font-size: 35px;
}
.more .social {
  margin: 50px 0;
}
.more .social::before {
  content: "SHARE:";
  display: block;
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.more .social a {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}
.more .social a:hover {
  color: #fff;
}
.more .social a:hover:first-of-type {
  background-color: #55acee;
}
.more .social a:hover:nth-child(2) {
  background-color: #3b5998;
}
.more .social a:hover:nth-child(3) {
  background-color: #cc3732;
}
.more .social a:hover:nth-child(4) {
  background-color: #cc2127;
}
.more .social a:hover:last-child {
  background-color: #565656;
}

.related-inner .related-img {
  overflow: hidden;
}
.related-inner .related-img img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}
.related-inner .related-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: -8px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #c3a376;
}
.related-inner a {
  margin: 10px 0;
}
.related-inner:hover .related-img::before {
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
