/* _____ Import files _____ */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* _____ style all rules _____ */
*,
*::before,
*::after {
  @include vendor(webkit moz, box-sizing, border-box);
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  color: $body__color;
  font-size: 13px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}

.text-center {
  text-align: center;
}

span {
  display: inline-block;
}
.f-end {
  float: right;
}

h1,
h2,
h3,
h4 {
  font-size: 28px;
  font-weight: 400;
}

.main-style {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}