/* _____ Import files _____ */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* _____ style all rules _____ */
*,
*::before,
*::after {
  @include vendor(webkit moz, box-sizing, border-box);
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  color: $body__color;
  font-size: 13px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span,
a {
  display: inline-block;
}

img {
  vertical-align: middle;
}

input {
  padding-left: 10px;
  padding-right: 50px;
  color: #555;
  height: 38px;
  width: 100%;
  outline: none;
  font-size: 12px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #ddd;
}

h1,
h2,
h3,
h4 {
  font-size: 28px;
  font-weight: 400;
}

.main-style {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.section {
  padding: 70px 0;

  @media screen and (max-width: 576px) {
    padding: 50px 0;
  }
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}