/* _____ Import files _____ */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* _____ style all rules _____ */
*,
*::before,
*::after {
  @include vendor(webkit moz, box-sizing, border-box);
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  color: $body__color;
  font-size: 13px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

span,
a {
  display: inline-block;
}

img {
  vertical-align: middle;
}

.main-input {
  padding-left: 10px;
  padding-right: 50px;
  color: #555;
  height: 38px;
  width: 100%;
  outline: none;
  font-size: 12px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #ddd;
}

h1,
h2,
h3,
h4 {
  font-size: 28px;
  font-weight: 400;
}

.main-style {
  font-size: 14px;
  font-weight: 400;
}

.main-head {
  font-size: 22px;
  color: #000;
}

p {
    line-height: 28px;
}

.section {
  padding: 70px 0;

  @media screen and (max-width: 576px) {
    padding: 50px 0;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.img-fluid {
  max-width: 100%;
  vertical-align: middle;
}

.shop-items {
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
  user-select: none;
  img {
    max-width: 100%;
  }
  .img-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
    @include vendor(webkit moz o, transition, 0.4s opacity);
  }
  &:hover .img-hover {
    opacity: 1;
  }
  .shop-details {
    position: relative;
    h3 {
      @include vendor(webkit moz o, transition, 0.2s ease-in-out);
      font-size: 14px;
    }
    .kw-actions {
      position: absolute;
      bottom: 55%;
      right: -55%;
      @include vendor(webkit moz o, transition, 0.3s ease-in-out);
      opacity: 0;
      @media screen and (max-width: 768px) {
        bottom: 75%;
        right: 0;
        opacity: 1;
      }
      .link-actions {
        text-transform: uppercase;
        background-color: $primary_color;
        font-weight: 600;
        font-size: 10px;
        display: block;
        margin-bottom: 3px;
        padding: 6px 10px;
        @include vendor(
          webkit moz,
          box-shadow,
          0 4px 15px rgba(0, 0, 0, 0.2)
        );
        @include vendor(webkit moz o, transition, 0.2s ease-in-out);
        &.style-1 {
          padding: 6px;
          width: 72px;
          float: right;
        }
        color: #fff;
        &:hover {
          background-color: #333;
        }
      }
    }
  }
  &:hover .kw-actions {
    right: 0;
    opacity: 1;
  }
  &:hover .shop-details h3 {
    color: $primary_hover;
  }
  .reviews {
    .fa-star {
      color: #d3ced2;
      font-size: 10px;
    }
  }
}