.btn {
  padding: 13px 23px;
  text-align: center;
}

.btn-primary {
  background-color: $primary_color;
  color: #fff;
  @include vendor(webkit moz o, transition, 0.2s ease-in-out);
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $primary_hover;
  }
}

.btn-light {
  padding: 11px;
  margin-left: 8px;
  color: #242424;
  border: 2px solid #242424;
}