/* _____ style carts _____ */
.carts {
  .check-carts {
    display: none;
  }
  table#table-carts {
    width: 100%;
    border-collapse: collapse;
    tr {
      position: relative;
      &::before,
      &::after {
        content: "";
        display: table-cell;
        width: 50px;
        @media screen and (max-width: 992px) {
          width: 0;
        }
      }
    }
    thead {
      background-color: #fafafa;
      color: #000;
      font-weight: 700;
      font-size: 14px;
      padding-top: 30px;
      height: 90px;
      text-transform: uppercase;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    tbody {
      tr {
        &:first-of-type td {
          border-top: 0;
        }
        &:last-of-type td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        @media screen and (max-width: 992px) {
          border: 1px solid rgba(0, 0, 0, 0.1);
          &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.025);
          }
        }
      }
      td {
        padding: 29px;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 992px) {
          &::before {
            content: attr(data-title) ": ";
            font-weight: 700;
            text-transform: capitalize;
          }
          &:last-of-type {
            font-size: 20px;
          }
          display: block !important;
          width: 100%;
          text-align: left;
        }
      }
      td.table-products {
        @media screen and (max-width: 992px) {
          margin-top: 60px;
        }
        span {
          width: 28px;
          height: 28px;
          background: #f99;
          text-align: center;
          color: #fff;
          font-size: 20px;
          line-height: 25px;
          cursor: pointer;
          @include vendor(webkit moz o, border-radius, 50%);
          @include vendor(webkit moz ms, user-select, none);
          &:hover {
            background-color: #000;
            color: #fff;
          }
          @media screen and (max-width: 992px) {
            position: absolute;
            right: 30px;
            top: 20px;
          }
        }
        .product-thumbnails {
          width: 72px;
          img {
            width: 100%;
            border: 3px solid #edefed;
            @media screen and (max-width: 992px) {
              display: none;
            }
          }
        }
        a {
          color: #000;
          font-weight: bold;
          width: 110px;
          text-align: left;
          &:hover {
            color: $primary_hover;
          }
          @media screen and (max-width: 992px) {
            margin-top: -15px;
            text-align: right;
          }
        }
      }
      input[type="number"] {
        width: 100px;
        @media screen and (max-width: 992px) {
          margin-right: 0;
          margin-top: -18px;
        }
      }
      .amount {
        float: none;
        font-size: 18px;
        font-weight: 400;
        @media screen and (max-width: 992px) {
          float: right;
        }
      }
    }
  }
  .coupon {
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
    }
    input {
      padding: 17px 10px;
      outline: none;
      border-radius: 3px;
      border: 1px solid #d9d9d9;
      width: calc(100% - 184px);
      @media screen and (max-width: 400px) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
    button {
      float: right;
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }
  .cart-total {
    padding: 70px 50px;
    background-color: #fafafa;
    h2 {
      font-weight: 500;
    }
    table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      tr:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      th,
      td {
        padding: 10px;
      }
      th {
        text-align: left;
      }
      td {
        text-align: right;
      }
      .carts-sutotal {
        th {
          font-weight: 600;
        }
        td {
          font-size: 13px;
        }
      }
      .order-total {
        font-size: 16px;
        color: #000;
      }
    }
    .proceed-checkout {
      a {
        font-weight: 700;
        font-size: 14px;
        padding: 15px 35px;
        text-transform: uppercase;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        cursor: pointer;
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}
