/* _____ style checkout _____ */
.checkout {
  .woocommerce-info {
    border-left: 8px solid rgba(#000, 0.15);
    padding: 1.4em 1.5em;
    color: #fff;
    position: relative;
    &.check,
    &.coupon {
      display: none;
    }
    .fa-window-maximize,
    .fa-circle-exclamation {
      font-size: 15px;
      margin-right: 10px;
    }
    a {
      margin-left: 10px;
      color: #fff;
      border-bottom: 1px solid rgba(#fff, 0.2);
      line-height: normal;
      &:hover {
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.5);
      }
    }
  }

  .woocommerce-form {
    position: relative;
    max-height: 0;
    overflow: hidden;
    @include vendor(webkit moz o, transition, 500ms ease);
    &.active {
      max-height: 1000px;
      @include vendor(webkit moz o, transition, 1000ms linear);
    }
  }

  .woocommerce-items {
    .loader {
      width: 0;
      height: 0;
      display: inline-block;
      position: relative;
      display: none;
      position: absolute;
      top: 48%;
      left: 43%;
    }
    .loader::after,
    .loader::before {
      content: "";
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      left: 20px;
      top: -10px;
      animation: animloader 2s linear infinite both;
    }
    .loader::after {
      animation-delay: 1s;
    }

    @keyframes animloader {
      0% {
        transform: scale(0);
        opacity: 1;
      }
      100% {
        transform: scale(4);
        opacity: 0;
      }
    }
    form.form-1 {
      .username,
      .pass {
        width: 49%;
        @media screen and (max-width: 768px) {
          margin-bottom: 10px;
          width: 100%;
        }
      }
      .pass {
        #pass {
          padding-right: 35px;
        }
      }
      input[type="checkbox"],
      label[for="remeber"] {
        transform: translateY(-10px);
        display: inline-block;
      }
      button {
        margin-right: 15px;
      }
      a.lost {
        text-decoration: underline;
        opacity: 0.6;
      }
    }
  }

  form.form-2 {
    input {
      @media screen and (max-width: 400px) {
        width: 100%;
        margin-bottom: 5px;
      }
    }
    button {
      width: 100%;
      margin-right: 0 !important;
      @media screen and (max-width: 400px) {
        width: 100%;
      }
    }
  }
  .form-3 {
    h3 {
      font-weight: 700;
      font-size: 20px;
    }
    .create {
      label {
        font-weight: 500;
        margin-left: 5px;
      }
    }

    .password {
      max-height: 0;
      overflow: hidden;
      @include vendor(webkit moz o, transition, 0.3s linear);
      &.active {
        max-height: 199px;
      }
    }
    textarea {
      width: 100%;
      padding: 10px;
      resize: vertical;
    }
  }

  .woocommerce-password-strength {
    background-color: #f1adad;
    border-color: #e35b5b;
    text-align: center;
    font-weight: 600;
    padding: 3px;
    margin-bottom: 5px;
    display: none;
  }
  small {
    display: none;
  }
  input {
    &.valid {
      border: 1px solid #6dc22e;
      box-shadow: none;
    }
  }
  input[name="password"],
  .invalid {
    border: 1px solid #a00;
    box-shadow: inset 3px 0 0 #e2401c;
    &:hover {
      border: 1px solid #a00;
      box-shadow: inset 3px 0 0 #e2401c;
    }
  }
  .eye {
    position: absolute;
    top: 46px;
    right: 25px;
    cursor: pointer;
  }

  .woocommerce-spacing {
    padding: 45px 50px 35px;
  }

  table.shop_table {
    border-collapse: collapse;
    width: 100%;
    color: #000;
    tr {
      &:last-of-type th {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
      }
      th {
        font-weight: 700;
      }
      th,
      td {
        padding: 10px 0;
        text-transform: uppercase;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      td {
        text-transform: capitalize;
      }
    }
  }

  .border-top::before,
  .border-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: -65px;
    right: -65px;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
  }

  .border-top::before {
    top: 0;
  }

  .border-bottom::before {
    bottom: 0;
  }

  .btn-order {
    padding: 19px 40px !important;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    float: right;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  select {
    padding: 4px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: #555 !important;
    cursor: pointer;
    option {
      padding: 10px;
      &:hover {
        background-color: #f00 !important;
      }
    }
  }
  .woocommerce-error {
    li {
      margin-left: 27px;
    }
    &::before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f06a";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      font-size: 14px;
    }
  }
  .woocommerce-error {
    li {
      margin-left: 27px;
    }
    &::before {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f06a";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      font-size: 14px;
    }
  }
  
  .woocommerce-info-icon {
    li {
      margin-left: 27px;
    }
    &::before {
      font-family: "Font Awesome 6 Free";
      content: "\f2d0";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      font-size: 14px;
    }
  }
}
